*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;  
}


body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    background: linear-gradient(90deg, #03FA6E (91,30,159,1) 0%, #ffffff (77,39,182,1));
}

body h2{
    color: #091B40;
}

main{
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    min-height:200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo_quiz{
    background-color: #03FA6E;
    border-radius: 20px;
    padding: 20px;
}

.primeiro_roud, .segundo_round, .terceiro_round, .quarto-round {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
}
.primeiro_roud, .segundo_round, .terceiro_round, .quarto-round h4{
    color: #091B40;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.span_qtd{
    text-align: end;
}

.respostas{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

button{
    width: 100%;
    text-align: start;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #03FA6E;
    color: #091B40;
}

.final{
    display: none;
    flex-direction: column;
    gap: 10px;

}

.final button{
    text-align: center;
}

