* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: dashed;
}

body {
  font-family: 'Dosis', sans-serif;
  color: #091B40;
}

main{
    margin-bottom: 1000px;
    width: 100%;
    padding-top: 2.5rem;
    border-top: 0.14px solid #091B40;
    background-color: #091B40;
    background-size: cover;
}
  
.banner{
    background-color: #091B40;
    background-size: cover;
}

.principal_banner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9.5% 13% 3% 13%;
}
  .conteudo_banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4vh 13vh;
    background-color: #091B40;
    height: 52vh;
    width: 50%;
  }
  .descricao_banner{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 1.5vh;
    color: #EEF8E9;
  }
 
  .texto_banner{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #EEF8E9;
    font-weight: 400;
    font-size: 15px;
  }

  .botao_banner{
    background-color: #85EBD9;
    width: 180px;
    height: 60px;
    border:none;
    box-shadow: 4px 5px 4px #04112B;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #04112B;
    font-weight: 400;
    font-size: 15px;
  }
  
  .botao_banner:hover{
    background-color: #9688F2;
  }
  
  .img_banner{
    display: flex;
    padding: 30px;
    height: 400px;
  }

/*Edu financeiro */

.edu_fin{
  background-color: #85EBD9;
  background-size: cover; 
}

.texto_edu_fin{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  width: 60%;
}

.titulo_investir{
  margin-top: 6vh;
  width: 80%;
  font-size: 5vh;    
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titulo_investir h2{
  display: flex;
  font-size: 40px;
  font-weight: 600;
  color: #091B40;
  text-align: center;
  margin-right: 28vh;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.cards{
    width: 100%;
    background-color:#85EBD9;
    margin: 2.5rem 0;
    padding: 5rem;
    display: flex;
	  margin-top: 2rem;
}

.primeiro_motivo, .segundo_motivo, .terceiro_motivo{
  width: 100%;
    background-color: #5EC57E;
    margin: 0rem 0;
    padding: 6rem;
}

.topico_motivo h2{
  color: #091B40;
  line-height: 30px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  font-weight: bold;
}

.texto_motivo {
  margin-right: 30px;
  background-color: #EEF8E9;
  padding: 2.5rem;
}

.texto_motivo p{
  margin: 1.5rem 6rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  line-height: 30px;
}

.cards button{
  background-color: #9688F2;
  width: 180px;
  height: 60px;
  border:none;
}
.cards .botao_edu_fin{
  box-shadow: 4px 5px 4px #04112B;
  border-radius: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #04112B;
  font-weight: 400;
  font-size: 15px;
}
*/
/*Perfil*/
.sobre_meu_perfil{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  justify-content: space-around;
  padding: 50px;
  justify-content: space-around;
}

.descricao_perfil img{
  display: flex;
  padding: 30px;
  height: 300px;
}

.descricao_perfil h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #5EC57E;
  font-size: 15px;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  padding: 22px;
  box-sizing: border-box;
  background-color: #EEF8E9;
}

.descricao_perfil p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #5EC57E;
  font-size: 15px;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  padding: 22px;
  box-sizing: border-box;
  background-color: #EEF8E9;
}

.caracteristicas_perfil{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 50px;
  background-color: #EEF8E9;
  justify-content: space-around;
}

.primeira_caracteristica h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #5EC57E;
  font-size: 15px;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  padding: 22px;
  box-sizing: border-box;
  background-color: #EEF8E9;
}

.primeira_caracteristica p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #5EC57E;
  font-size: 15px;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  padding: 22px;
  box-sizing: border-box;
  background-color: #EEF8E9;
}
.segunda_caracteristica h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #5EC57E;
  font-size: 15px;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  padding: 22px;
  box-sizing: border-box;
  background-color: #EEF8E9;
}

.segunda_caracteristica p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #5EC57E;
  font-size: 15px;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  padding: 22px;
  box-sizing: border-box;
  background-color: #EEF8E9;
}

.terceira_caracteristica h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #5EC57E;
  font-size: 15px;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  padding: 22px;
  box-sizing: border-box;
  background-color: #EEF8E9;
}

.terceira_caracteristica p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #5EC57E;
  font-size: 15px;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  padding: 22px;
  box-sizing: border-box;
  background-color: #EEF8E9;
}

/*footer*/

footer{
  background-color: #091B40;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-flow: column nowrap;
  align-items: center;
  
}

.texto_footer{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 2vh;
  padding-top: 2vh;
  color: #EEF8E9;
  font-size: 2.3vh;
  padding-top: 1vh;
}


