* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: dashed;
}

body {
  font-family: 'Dosis', sans-serif;
  /*color: #091B40;*/
}

main{
  /* margin-bottom: 1000px; */
  width: 100%;
  padding-top: 2.5rem;
  border-top: 0.14px solid rgb(9, 27, 64);
}
  
.banner{
    background-color: #ffffff;
    background-size: cover;
}

.principal_banner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6% 13% 6% 13%;
}
  .conteudo_banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vh 10vh;
    background-color: #ffffff;
    height: 52vh;
    width: 50%;
  }
  .descricao_banner{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 1.5vh;
    color: #04112B;
  }
 
  .texto_banner{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #091B40;
    font-weight: 400;
    font-size: 15px;
  }

  .botao_banner{
    background-color: #03FA6E;
    width: 180px;
    height: 40px;
    border: 30px;
    box-shadow: 4px 5px 4px #04112B;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #04112B;
    font-weight: 400;
    font-size: 15px;
    
  }
  
  .botao_banner:hover{
    background-color: #9688F2;
  }
  
  .img_banner{
    display: flex;
    padding: 30px;
    height: 400px;
  }

/*Edu financeiro */

.edu_fin{
  background-color: #344D67;
  background-size: cover; 
}

.texto_edu_fin{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.titulo_investir{
  margin-top: 6vh;

  font-size: 5vh;    
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titulo_investir h2{
  display: flex;
  font-size: 40px;
  font-weight: 600;
  color: #04112B;
  text-align: center;
  
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.cards{
  width: 99%;
  background-color: #344D67;
  /* margin: 2.5rem 0; */
  padding-left: 16rem;
  padding-right: 16rem;
  display: flex;
  /* justify-content: space-evenly; */
  flex-wrap: rap;
  /* align-content: flex-start; */
  align-items: center;
}



.primeiro_motivo, .segundo_motivo, .terceiro_motivo{
  width: 100%;
  background-color: #344D67;
  margin: 0rem 0;
  padding: 2rem;
  border-radius: 20px;
}

.topico_motivo {
  color: #03FA6E;
  line-height: 30px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin-right: 20px;
  margin-left: 20px;
}
/*cuidar quando for escrever algo pq a passing vai comer o seu textinho*/
/*se tiver com muita margin a caixa vai ficar muito pequena*/
.texto_motivo {
  /*margin-right: 20px;
  margin-left: 20px;*/
  background-color: #5EC57E;
  padding: 2.5rem;
  border-radius: 20px;
}

.texto_motivo p{
  margin: 1.5rem 6rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  line-height: 30px;
}

.botao_cards{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #344D67;
  padding: 0px;
}

.edu_fin button{
  background-color: #9688F2;
  width: 160px;
  height: 40px;
  border:none;
  margin-bottom: 6vh;
}

.botao_edu_fin{
  box-shadow: 4px 5px 4px #5EC57E;
  border-radius: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #091B40;
  font-weight: 400;
  font-size: 15px;
}

.botao_edu_fin:hover{
  background-color:#03FA6E;
}

/*Perfil*/
.sobre_meu_perfil{
  display: flex;
  /* flex-direction: row; */
  /* align-items: center; */
  /* gap: 20px; */
  padding: 20px;
  /* justify-content: space-around; */
  flex-wrap: nowrap;
}

.descricao_perfil{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.motivo-fin{
  padding: 30px;
  height: 200px;
}

.descricao_perfil img{
  height: 405px;
  margin: auto;
}

.descricao_perfil h2{
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #5EC57E;
  font-size: 15px;
  gap: 20px;
  /* align-items: center; */
  /* justify-content: space-around; */
  padding: 20px;
  background-color: #EEF8E9;
  border-radius: 20px;
  
}

.descricao_perfil p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #5EC57E;
  font-size: 15px;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  padding: 22px;
  box-sizing: border-box;
  background-color: #EEF8E9;
  border-radius: 20px;
}

.caracteristicas_perfil{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 20px;
  padding: 10px;
  /* background-color: #EEF8E9; */
  /* justify-content: space-around; */
  flex-wrap: wrap;
  border-radius: 20px;
}
.primeira_caracteristica, .segunda_caracteristica,.terceira_caracteristica{
  display: flex;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #344D67;
  margin: 10px;
  padding: 40px;
  border-radius: 20px;
}

.segunda_caracteristica{
  height: 200px ;
}
.primeira_caracteristica h2, .segunda_caracteristica h2, .terceira_caracteristica h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #5EC57E;
  font-size: 15px;
  gap: 20px;
  /* align-items: center; */
  /* justify-content: space-around; */
  padding: 22px;
  /* box-sizing: border-box; */
  /* background-color: #EEF8E9;*/
}

.primeira_caracteristica p, .segunda_caracteristica p, .terceira_caracteristica p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #5EC57E;
  font-size: 15px;
  /* gap: 20px; */
  /* align-items: center; */
  /* justify-content: space-around; */
  padding: 5px;
  /* box-sizing: border-box; */
  /* background-color: #EEF8E9;*/
}

/*footer*/

footer{
  background-color: #344D67;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.texto_footer{
  align-items: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 2vh;
  padding-top: 2vh;
  color: #03FA6E;
  font-size: 2.3vh;
  padding-top: 1vh;
}

.imagem_footer{
  display: flex;
  padding: 30px;
  height: 100px;
}

.img_logo{
  height: 50px;
}





/*css do carrossel*/

.todo_carrossel{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
}

.primeiro_carrossel, .segundo_carrossel, .terceiro_carrossel {
  overflow: hidden;
  max-width: 600px;
  position: relative;
}

.primeiro_carrossel .carousel__item,
.primeiro_carrossel .carousel__item--hidden,
.segundo_carrossel .segundo_carousel__item,
.segundo_carrossel .segundo_carousel__item--hidden,
.terceiro_carrossel .terceiro_carousel__item,
.terceiro_carrossel .terceiro_carousel__item--hidden {
  display: none;
}

.primeiro_carrossel .carousel__item img,
.segundo_carrossel .segundo_carousel__item img,
.terceiro_carrossel .terceiro_carousel__item img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.primeiro_carrossel .carousel__item--visible,
.segundo_carrossel .segundo_carousel__item--visible,
.terceiro_carrossel .terceiro_carousel__item--visible {
  display: block;
  animation: fadeVisibility 0.5s;
}

.primeiro_carrossel .carousel__actions,
.segundo_carrossel .segundo_carousel__actions,
.terceiro_carrossel .terceiro_carousel__actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.primeiro_carrossel .carousel__actions button,
.segundo_carrossel .segundo_carousel__actions button,
.terceiro_carrossel .terceiro_carousel__actions button {
  border-radius: 50px;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  width: 40px;
  height: 40px;
  color: #FFF;
  background-color: #242424;
}

.primeiro_carrossel .carousel__actions button[data-js="carousel__button--prev"],
.segundo_carrossel .segundo_carousel__actions button[data-js="segundo_carousel__button--prev"],
.terceiro_carrossel .terceiro_carousel__actions button[data-js="terceiro_carousel__button--prev"] {
  margin-left: 5px;

}

.primeiro_carrossel .carousel__actions button[data-js="carousel__button--next"],
.segundo_carrossel .segundo_carousel__actions button[data-js="segundo_carousel__button--next"],
.terceiro_carrossel .terceiro_carousel__actions button[data-js="terceiro_carousel__button--next"] {
  margin-right: 5px;
  
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: opacity linear;
  }
}

