
/*navbar*/
header {
  position: fixed;
  width: 100%;
  padding-bottom: 0;
  text-align: center;
  background-color: #ffffff;
}
.linha-header {
  margin: 0;
  height: 4px;
  background-color: #222222;
}

.header-bolsa_valores {
  display: flex;

  margin: 0;
  padding: 15px 80px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo_bolsa_valores p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #344D67;
  font-size: 26px;
}

nav {
  display: flex;
  margin: 0 5%;
  
  font-size: 20px;
  
}

nav ul {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #344D67;
  font-weight: 400;
  font-size: 14px;
  gap: 20px;
}

nav ul li {
  justify-content: space-between;
  list-style: none;
}

nav a {
  display: flex;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #344D67;
  font-weight: 400;
  font-size: 14px;
}

nav a:hover {
  border-bottom: 4px solid #9688F2;
  font-weight: bold;
}

.login-cadastro {
  display: flex;
  flex-direction: row;
 
  align-items: center;
  margin-left: 10vh;
  margin-right: 2vh;
  cursor: pointer;
}

.botao-cadastro {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:#344D67;
  font-weight: 400;
  font-size: 14px;
}
.botao-cadastro:hover {
  border-bottom: 4px solid #FFCB42;
  font-weight: bold;
}

.botao-login{
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #344D67;
  font-weight: 400;
  font-size: 14px;
}
.botao-login:hover {
  border-bottom: 4px solid #FFCB42;
  font-weight: bold;
}
/*.imagem_footer{
  
}*/
