* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    border: none;
}
/*body{

    font-family: 'Dosis', sans-serif;
    /*color: #091B40;
    padding-top: 20px ;
}*/


header {
    /*position: fixed;*/
    width: 100%;
    padding-bottom: 0;
    text-align: center;
    background-color: #ffffff;
    height: 20%;
  }

.header_menu{
    display: flex;
    margin: 0 5%;
    justify-content: space-around;
    font-size: 20px
  }
.voltar{
    display: flex;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #344D67;
    font-weight: 400;
    font-size: 14px;
}

.voltar a{
    border-bottom: 4px solid #9688F2;
    font-weight: bold;
}

.linha-header {
    margin: 0;
    height: 4px;
    background-color: #222222;
  }

/*termina o menu*/
/*main{
    /* margin-bottom: 1000px; */
    /* width: 100%; */
    /* padding-top: 2.5rem; */
    /* border-top: 0.14px solid rgb(9, 27, 64);
}*/
.banner{
    background-color: #ffffff;
    background-size: cover;
}

.principal_banner{
    background-color: #344D67;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
}
/*.imagem_banner{
    display: flex;
    padding: 30px;
    height: 400px;
    width: 100%;
}*/

.div_inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    padding: 10px;
}
.o_todo_inputs{
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 10px;
    background-color: #ffffff;

}

.titulo_cadastro h1{
    display: flex;
    color: #03FA6E;
    justify-content: center;
    height: 40px;
    width: 140px;
    margin: -5px;

    /*text-decoration: underline;*/
}

.lado_a, .lado_b{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.input_nome, .input_email, .input_num, .input_cep{
    margin-bottom: 30px;
    padding: 10px;
    /* border-bottom: 2px solid; */
    text-align: center;
    /* outline: none; */
    width: 100%;
    justify-content: center;
}

/*label, input{

}

.select_uf{

}*/

.investe_select, .tipo_select, .senha_cadastro, .confirmar_senha{
    margin-bottom: 30px;
    padding: 10px;
    /* border-bottom: 2px solid; */
    text-align: center;
    outline: none;
    width: 100%;
    justify-content: center;
}

/*.select_voce_investe{

}
.select_tipo_investimento{

}*/

.button_cadastro{
    display: flex;
    flex-direction: column;
    background-color: #03FA6E;
    height: 40px;
    /* width: 140px; */
    padding: 0px;
    margin: -23px;
}

.button button{
    cursor: pointer;
    color: #344D67;
    background-color: #03FA6E;
    width: 100%;
    height: 100%;
    font-size: 20px;
}

/*.select_grupo select{
    border: 2px solid black;
}*/
